
a.aixeena_social_href,  a.aixeena_social_href:hover {
	text-decoration:none;
	background-repeat:no-repeat;
	background-position:left top;
}

.aixeena_social_img_rotate{
-webkit-transition: all 400ms linear;
-moz-transition: all 400ms linear;
-o-transition: all 400ms linear;
-ms-transition: all 400ms linear;
transition: all 400ms linear;
}

.aixeena_social_img_rotate:hover{	
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
.aixeena_social_img_opacity {
opacity: 0.5;
filter: alpha(opacity=50);
-webkit-transition: opacity 600ms linear;
}	
.aixeena_social_img_opacity:hover {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transition: opacity 600ms linear;
}

.aixeena_soc-right{
text-align:right;
}
.aixeena_soc-left{
text-align:left;
}
.aixeena_soc-center{
text-align:center;
}

.aixsocimg.shadow {
-moz-box-shadow: 0px 0px 4px #333;
-webkit-box-shadow: 0px 0px 4px #333;
box-shadow: 0px 0px 4px #333;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333');
}
.aixsocimg {
	margin:0;
	padding:0;
}



